.main_container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1440px;
  height: 100vh;
  /*background: rgb(194, 221, 224);*/
  /*background: linear-gradient(45deg, #EECFBA, #C5DDE8);*/
  background: linear-gradient(45deg, rgba(253, 211, 211, 0.6), rgba(69, 140, 140, 0.9)), url(https://images.dailyhive.com/20211015162815/kucid.jpg);
  background-size: cover;


}
/*.search_container{*/
/*  background: antiquewhite;*/
/*}*/



/* 1 */

/*.search_container{*/
/*  !* display: flex;*/
/*  flex-wrap: wrap; *!*/
/*  !* position: absolute;*/
/*  top:68px;*/
/*  left: 360px;*/
/*  width: 400px;*/
/*  height: 27px;*/
/*  background: red; *!*/
/*}*/

/* 2 */

/*.container {*/
/*  position: absolute;*/
/*  top:68px;*/
/*  left: 360px;*/
/*  width: 400px;*/
/*  height: 27px;*/


  /* width: 25rem;
  height: 100%;
  margin: 0 1rem;
  position: relative;  */
/*}*/
/*.searchbar {*/
/*  font-size: 2.3rem;*/
/*  width: 25rem;*/
/*  height: 5rem;*/
/*  border: none;*/
/*  outline: none;*/
/*  border-radius: 10rem;*/
/*  padding: 2rem;*/
/*  transition: all .1s;*/
/*  transition-delay: .1s;*/
/*}*/
/*.searchbar:hover {*/
/*  width: 36rem;*/
/*  height: 5rem;*/
/*}*/
/*.button {*/
/*  height: 2rem;*/
/*  position: absolute;*/
/*  top: 1.5rem;*/
/*  right: 26rem;*/
/*  transition: all .1s;*/
/*  transition-delay: .1s;*/
/*}*/
/*.button:hover {*/
/*  cursor: pointer;*/
/*}*/
/*.searchbar:hover + .button {*/
/*  height: 2.5rem;*/
/*  top: 1.7rem;*/
/*  right: 11rem;*/
/*}*/
/*.searchbar::placeholder {*/
/*  opacity: .3;*/
/*}*/

/*.modal_container{*/
/*  position: absolute;*/
/*  bottom:0;*/
/*  left:424px;*/
/*}*/
