.selectWrapper {
    display: inline-block;
    position: relative;
    margin: 5px;
    border: 2px solid rgba(63, 7, 14, 0.92);
    border-radius: 3px;
    background: transparent;

}

.selectWrapper:hover {
    box-shadow: 0 0 3px #4db99c;
    border: 2px solid rgba(190, 47, 65);
}


.selectWrapper select {
    color: rgba(190, 47, 65);
    font-weight: bolder;
    height: 28px;
    padding: 0 20px 0 7px;
    background-color: transparent;
    border: 0;
    appearance: none; /* remove arrow        */
    -webkit-appearance: none; /* remove arrow Chrome */
    -moz-appearance: none; /* remove arrow FF     */
}

.select-wrapper select::-ms-expand {
    display: none; /* remove arrow IE     */
}

.selectArrow {
    position: absolute;
    z-index: -9999;
    right: 4px;
    bottom: 5px;
    border: 8px solid;
    border-color: transparent transparent #0a0101 transparent;
    border-right: 0;


}